/* Responsividade header-navbar*/
@media (max-width: 991px) {
  #hamburguer {
    display: block;
  }
  #hamburguer.active span:nth-child(2) {
    opacity: 0;
  }
  #hamburguer.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #hamburguer.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #nav-links {
    position: fixed;
    overflow: hidden;
    align-items: center;
    top: -500%;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: black;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.35s ease-in-out;
  }
  #dropdown:hover {
    margin-bottom: 130px;
  }
  #nav-links li {
    margin: 16px 0;
  }
  #nav-links.active {
    top: 78px;
  }
}

/*Responsividade geral do site.*/

@media (max-width: 848px) {
  #cards #card a {
    padding: 20px;
  }
  #cards #card {
    width: 50%;
  }
  #cards {
    gap: 10px;
    flex-direction: column;
  }
}
@media (max-width: 385px) {
  #section-1-container img {
    width: 50%;
  }
  #section-2-container img {
    width: 100%;
  }
}
@media (max-height: 850px) {
  #section-1-container {
    height: 100%;
  }
  #section-1-container img {
    width: 100px;
  }
  #section-2-container img {
    width: 200px;
  }
}
@media (max-height: 634px) {
  #description-section-1 {
    font-size: 15px;
  }
}
@media (max-height: 577px) {
  #section-1-container {
    margin-top: 100px;
  }
  #description-section-1 {
    font-size: 12px;
  }
  #section-2-container img {
    margin-top: 200px;
  }
  #description-section-2 {
    margin-bottom: 200px;
  }
}
